[submodule "src/glim"]
	path = src/glim
	url = https://github.com/koide3/glim
[submodule "src/glim_ros2"]
	path = src/glim_ros2
	url = https://github.com/koide3/glim_ros2
[submodule "src/unitree-go2-ros2"]
	path = src/unitree-go2-ros2
	url = https://github.com/anujjain-dev/unitree-go2-ros2.git
[submodule "src/ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "src/unitree_ros2"]
	path = src/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2
[submodule "src/icp_localization_ros2"]
	path = src/icp_localization_ros2
	url = https://github.com/baiyeweiguang/icp_localization_ros2
